<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="images/hybridcloud.png">
    <link rel="stylesheet" href="css/home.css">

  </head>
<body>

<main role="main">

  <div class="container">
    <div class="row">
      <div class="col-12">
          <a href="/"><button class="btn btn-outline-dark float-left">Home</button></a>
          <a href="/random"><button class="btn btn-outline-dark float-right">Random Quote</button></a>
      </div>
    </div>
  </div>


  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><%= title %> for me 2022/11/16</h1>
      <h2><%= today %></h2>
      <p class="lead text-muted">
          <i><%=quote%></i>
      </p>
      <p>- <%=author%></p>
      <p>[<%=genre%>]</p>
    </div>
  </section>

</main>

    
</body>
</html>
